[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/Jackarain/protobuf.git
[submodule "proto_doc"]
	path = proto_doc
	url = git://github.com/avplayer/avim_proto_doc.git
